body{
  margin:0;
}
.header-letter{
  opacity: 0.8;
  background-color: #008080;
  color:#FFFFCC;
  margin:0;
  padding:20px 40px;
  position: fixed;
  z-index: 10;
}
.header-letters{
  background-color: #FFFFCC;
  color:#008080;
  text-align: center;
}
.header-letters a{
}
