body{
  margin:0;
}
.header-letter{
  opacity: 0.8;
  background-color: #008080;
  color:#FFFFCC;
  margin:0;
  padding:20px 40px;
  position: fixed;
  z-index: 10;
}
.header-letters{
  background-color: #FFFFCC;
  color:#008080;
  text-align: center;
}
.header-letters{
  padding-top:60px;
  padding-bottom: 60px;
}
.header-letters a{
}
.main{
  border-top:2px solid black;
  text-align: center;
  font-family: serif;
  padding-bottom: 30px;
}
.contact{
  border-top:2px solid black;
  text-align: center;
  font-family: serif;
}
input,textarea{
  width:400px;
  margin-top:5px;
  margin-bottom:20px;
  padding:20px;
  font-size:18px;
  border:1px solid #dee7ec;
}
.contact-submit{
  background-color:#dee7ec;
  color:#889eab;
}
.pad{
  padding:15px 0
}
