header{
  background-color: #008080;
  height: 300px;
  text-align: center;
}
header h1{
  font-weight: normal;
  color:white;
}
.header-instagram{
  background-color: #008000;
  color: white ;
  display:inline-block;
}
